@import "../../ModuleConfig/Bootstrap/Bootstrap";
@import "../../Constant/COLOR";

.Banner {
    height: (580rem/16);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background: url("../../StaticFile/banner.jpg") no-repeat center;

    .sloganWrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 10rem;
        color: $BLUE;

        .bigSlogan {
            font-size: 4rem;
        }

        .smallSlogan {
            font-size: 2.5rem;
        }
    }

    .buttonWrapper {
        position: absolute;
        transform: translateY(12.5rem);

        .addInsuranceButton {
            font-size: (28rem/16);
            padding: (36rem/16) (90rem/16);
            line-height: 1em;
            @extend .btn, .btn-primary, .btn-lg;
        }
    }
}